body {
    font-family:arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    border-radius: 5px;
}

.input-section {
    margin-bottom: 10px;
}

.input-section label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field {
    width: 62%;
    padding: 5px;
    border: 2px solid darkcyan;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-konversi {
    display: flex;
    justify-content: space-between;
}

.btn-konversi {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: darkblue;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-reset {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: darkcyan;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .btn-reverse {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: darkgray;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .btn-konversi:active {
    transform: translateY(4px);
  }
  
  .btn-reset:active {
    transform: translateY(4px);
  }
  
  .btn-reverse:active {
    transform: translateY(4px);
  }
  
  button:hover {
    background-color: black;
  }
  
  .formula-section {
    margin-top: 20px;
  }


  


  

  
  
  

